
body{
    display: flex;
    
}
.container
{   
    margin: auto;
    width: fit-content;
    align-items: center;
    border:2px solid black;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
}

.head
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button
{
  
    margin-left: 70px;
    margin-bottom: 60px;
    font-size: 20px;

}

#b1
{
    margin-left: 80px;
}
